/* =================================================================== 
 *
 *  Elevate v1.0 Main Stylesheet
 *  url: www.styleshout.com
 *  07-04-2016
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader 
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable styles
 *  09. header styles
 *  10. main content wrap
 *  11. intro
 *  12. features
 *  13. infos
 *  14. stats
 *  15. pricing
 *  16. testimonials
 *  17. download
 *  18. subscribe
 *  19. footer
 *
 * =================================================================== */


/* ===================================================================
 * 01. webfonts and iconfonts - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- */
@import url("fonts.css");


/* ===================================================================
 * 02. base style overrides - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- */
html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}

}

@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}

}

@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}

}

html,
body {
	height: 100%;
}

body {
	background: var(--background-color-body);
	font-family: var(--font-family-body);
	font-weight: var(--font-weight-body);
	font-style: normal;
	font-size: 1.6rem;
	line-height: 3rem;
	color: var(--text-color-body);
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */
a,
a:visited {
	color: var(--text-color-link);
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: var(--text-color-link-alt);
	outline: 0;
}

/* ===================================================================
 * 03. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: var(--font-family-heading);
	font-weight: var(--font-weight-heading);
	color: var(--text-color-heading);
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}
h3, .h03, h4, .h04 {
	margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
	font-weight: var(--font-weight-bold);
	margin-bottom: 1.2rem;
}
h1, .h01 {
	font-size: 3.1rem;
	line-height: 1.355;
	letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {
	h1,
	.h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}

}

h2, .h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3, .h03 {
	font-size: 2rem;
	line-height: 1.5;
}
h4, .h04 {
	font-size: 1.8rem;
	line-height: 1.667;
}
h5, .h05 {
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6, .h06 {
	font-size: 1.3rem;
	line-height: 1.846;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

p img {
	margin: 0;
}

em, i, strong, b {
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: var(--font-weight-bold);
}

small {
	font-size: 1.2rem;
	line-height: inherit;
}

blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: rgba(17, 17, 17, 0.5);
	font-family: var(--font-family-blockquote-quote);
	position: absolute;
	top: 3rem;
	left: 0;
}

blockquote p {
	font-family: var(--font-family-blockquote);
	font-style: italic;
	padding: 0;
	font-size: 2rem;
	line-height: 1.8;
}

blockquote cite {
	display: block;
	font-size: 1.3rem;
	font-style: normal;
	line-height: 1.616;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: var(--text-color-blockquote-cite-link);
	border: none;
}

abbr {
	font-weight: var(--font-weight-bold);
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: var(--text-color-abbr);
}

var, kbd, samp, code, pre {
	font-family: var(--font-family-code);
}

pre {
	padding: 2.4rem 3rem 3rem;
	background: var(--background-color-code);
}

code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: var(--background-color-code);
	border: 1px solid var(--border-color-code);
	border-radius: 3px;
}

pre > code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}

pre.prettyprint > code {
	border: none;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: var(--background-color-mark);
	color: var(--background-color-mark);
}

hr {
	border: solid var(--border-color-hr);
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}


/* ------------------------------------------------------------------- 
 * Spacing - (_document-setup)  
 * ------------------------------------------------------------------- */
button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * floated image - (_document-setup)  
 * ------------------------------------------------------------------- */
img.pull-right {
	margin: .9rem 0 0 2.4rem;
}

img.pull-left {
	margin: .9rem 2.4rem 0 0;
}

/* ------------------------------------------------------------------- 
 * block grids paddings
 * ------------------------------------------------------------------- */
.bgrid {
	padding: 0 20px;
}

@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}
}
@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}
}
@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}
}

/* ------------------------------------------------------------------- 
 * pace.js styles - minimal  - (_document-setup.scss)
 * ------------------------------------------------------------------- */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: var(--background-color-loader);
	position: fixed;
	z-index: 901;
	top: 0;
	right: 100%;
	width: 100%;
	height: 6px;
}



/* ===================================================================
 * 04. preloader - (_preloader-1.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #151515;
	z-index: 900;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}

#loader:before {
	content: "";
	display: block;
	height: 60px;
	width: 60px;
	-webkit-animation: rotate .9s infinite linear;
	animation: rotate .9s infinite linear;
	border: 10px solid #FFFFFF;
	border-right-color: transparent;
	border-radius: 50%;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}


/* ===================================================================
 * 05. forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
	border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 6rem;
	padding: 1.5rem 2.5rem;
	border: 0;
	outline: none;
	color: var(--text-color-input);
	font-family: var(--font-family-input);
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: var(--background-color-input);
	border: none;
	transition: all 0.3s ease-in-out;
}

.ss-custom-select {
	position: relative;
	padding: 0;
}

.ss-custom-select select {
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
}

.ss-custom-select select option {
	padding-left: 2rem;
	padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
	display: none;
}

.ss-custom-select::after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	right: 1.5rem;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	pointer-events: none;
	color: #252525;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
	display: none;
}

textarea {
	min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

label,
legend {
	font-weight: var(--font-weight-bold);
	font-size: 1.4rem;
	margin-bottom: .6rem;
	color: black;
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-text {
	display: inline-block;
	margin-left: 1rem;
	line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15rem;
}

/* ------------------------------------------------------------------- 
 * Style Placeholder Text  
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
	color: #555c6f;
}

:-moz-placeholder {
	color: #555c6f;  /* Firefox 18- */
}

::-moz-placeholder {
	color: #555c6f;  /* Firefox 19+ */
}

:-ms-input-placeholder {
	color: #555c6f;
}

.placeholder {
	color: #555c6f !important;
}






/* ===================================================================
 * 07. other components - (_others.scss)
 *
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */

/**
 * drop cap 
 */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 1.5rem .6rem 0 0;
	font-size: 8.4rem;
	font-weight: var(--font-weight-black);
	line-height: 6rem;
	text-indent: 0;
	background: transparent;
	color: #001835;
}


/* ===================================================================
 * 08. common and reusable styles (_layout.scss)
 *
 * ------------------------------------------------------------------- */


.js .animate-this,
.js .animate-intro {
	opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro
.no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
	opacity: 1;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * common styles
 * ------------------------------------------------------------------- */










/* ===================================================================
 * 10. main content wrap - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#main-content-wrap {
	z-index: 600;
	position: relative;
	background: #0e0e0e;
}






